.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100wh;
}

.form {
  display: flex;
  padding: 30px 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 0.3em grey;
  width: 100%;
  max-width: 450px;
  gap: 20px 0px;
}

.form h1 {
  color: var(--blue-300);
  font-size: 20px;
  font-weight: light;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

.form p {
  color: var(--blue-200);
  font-size: 16px;
  font-weight: bold;
}

.form a {
  color: var(--blue-100);
  font-size: 14px;
}

.subContainerSign {
  display: flex;
  flex-direction: row;
  gap: 0px 20px;
  align-items: center;
}

.subContainerSign .signupBtn {
  color: var(--blue-100);
  font-size: 14px;
}

.subContainerSign .signupBtn:hover {
  color: var(--blue-200);
}
