.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--grey-100);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--blue-200);
}

.commentForm textarea {
  width: 100%;
  background: var(--grey-100);
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--blue-300);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type=submit] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--blue-100);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

.commentForm button[type=submit]:not(:disabled):hover {
  opacity: 0.9;
}

.commentForm button[type=submit]:disabled {
  background: grey;
  opacity: 0.3;
}

.post {
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 0.3em grey;
  padding: 2.5rem;
}