.section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;  
}

.textContainer {
  display: flex;
  flex-flow: column wrap;
}

.mainHeading {
  font-size: 3.5rem;
  color: var(--blue-100);
  text-align: center;
  line-height: 1.6;
}

.secondaryHeading {
  font-size: 1.75rem;
  line-height: 1.6;
  text-align: center;
}
