:root {
  --white: #fff;

  --blue-100: #369ceb;
  --blue-200: #1c5078;
  --blue-300: #123652;

  --grey-100: #f0f2f5;

  --red-500: #f75A68;

}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-300);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--grey-100);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
