:root {
  --white: #fff;

  --blue-100: #369ceb;
  --blue-200: #1c5078;
  --blue-300: #123652;

  --grey-100: #f0f2f5;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 0.5px var(--blue-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

body,
input,
textarea,
button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
