.container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  width: 100%;
}

.postsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  /* background-color: yellow; */
  margin: 30px 0px 30px 0px;
}

.formContainer {
  width: 25%;
  /* background-color: rgb(58, 36, 183); */
  margin: 30px 0px 30px 0px;
}
