.container {
  display: flex;
  background-color: red;
  width: 100%;
}

.postsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: yellow;
  margin: 40px 25px 40px 50px;
}

.formContainer {
  width: 30%;
  background-color: rgb(39, 29, 29);
  margin: 40px 25px 40px 25px;
}
